.container {
    max-width: 1280px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.logo-text-main {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo-text {
    color: #4BCAFF;
}

.top-menu-flex {
    display: flex;
    list-style-type: none;
    height: 69px;
    background-color: #35444F;
    justify-content: center;
    margin: 40px 0px 0px;
    padding-left: 0px;
}

.top-menu-item {
    border-left: 1px solid #FFFFFF;
    padding: 26px 32px 19px;
}

.top-menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.top-menu-item:hover {
    background-color: #222F3A;
    ;
}

.top-item {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 28px;
}


.main-flex {
    display: flex;
    height: 830px;
    margin: 51px 0px;
    justify-content: space-between;
}

.main-item-flex {
    flex-grow: 1;
}

.main-item-flex:last-child {
    padding-left: 50px;
}


.main-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 344px;
}

.main-menu-item {
    /* background-color: #f8f684; */
    height: calc(100vh/5);
    display: flex;
}

.main-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 40px;
    color: #000000;
}

.main-item {
    text-decoration: none;
    color: #485863;
    font-family: 'Roboto';
    font-size: 27px;
    line-height: 27px;
    padding-left: 40px;
    margin: auto 0px auto;

}

.main-item:hover {
    color: #000000;
    background-color: #DBDBDB;
}

.main-article-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main-article-item:first-child {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 529px;
    max-width: 885px;
    display: flex;
}

.photo {
    margin: auto;
    overflow: hidden;
}

.img-article-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.main-article-item {
    color: #2C2C2C;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 24px;
}

.footer-flex {
    width: 100%;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.footer-flex-item {
    text-decoration: none;
    color: #0C1927;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 24px;
}

.footer-menu-flex {
    display: flex;
    list-style-type: none;
    padding: 0px 40px;
    justify-content: space-between;
    margin: auto;
    width: 875px;
}

.footer-menu-item {
    display: flex;
    align-items: center;
}

.footer-flex-item:last-child {
 margin-right: 40px;    
}

.footer-item {
    text-decoration: none;
    color: #0C1927;
    font-family: 'Roboto';
    font-size: 28px;
    line-height: 28px;


}

.footer-menu-item :hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-thickness: 1px;
}